* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(120deg, #1d2671, #c33764);
  min-height: 100vh;
  color: #fff;
}

header {
  text-align: center;
  padding: 30px 10px;
}

header h1 {
  font-size: 2.5rem;
}

.search-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.search-section input,
.search-section select {
  padding: 12px;
  width: 220px;
  border-radius: 8px;
  border: none;
}

.search-section button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: #ff9800;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.search-section button:hover {
  background: #e68900;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}
.movie-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}
.movie-card {
  background: white;
  max-width: 250px;
  color: #000;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: transform 0.3s;
  padding: 10px;
}
.movie-card p{
  font-size: 14px;
  margin: 4px 0;
}
.plot{
  color:#555;
  line-height: 1.4;
}
.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-info {
  padding: 15px;
}

.movie-info h3 {
  margin-bottom: 8px;
}

.movie-info p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.8rem;
  }
}
